/* Подключаем глобальные стили */
@import './styles/global.css';

body {
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Убираем синее выделение при клике на мобильных */
* {
  -webkit-tap-highlight-color: transparent;
}

